<footer class="pie bg-dark text-light">
        <p>© 2022 Copyright</p>
        <p>Todos los derechos reservados</p>
        <div class="linkdelpie">
                <a href="https://www.facebook.com/fraternidadbochinclub" class="btn btn-primary bg-light logo"><img
                                class="logoimg" src="./logos/logoface.png" alt="ir a face"></a>
                <a href="https://www.youtube.com/user/fraternidadbochinclu" class="btn btn-primary bg-light logo"><img
                                class="logoimg" src="./logos/logoyoutube.png" alt="ir a youtube"></a>
        </div>
</footer>